Declare a variable named ‘str’ with value as "Python course". Write queries to output the following results
    The first character of the ‘str’
    2nd to 5th character of the ‘str’
    Last character of the ‘str’
    The reverse of ‘str’ i.e. 'esruoc nohtyP'
    Every alternate character (1st, 3rd, 5th…..) of ‘str’
    Every alternate character (2nd, 4th, 6th….) of ‘str’ from the 2nd character"""

In [2]:
str = "Python course"

In [3]:
"""The first character of the ‘str’"""
str[0]

'P'

In [4]:
"""2nd to 5th character of the ‘str’"""
str[1:5]

'ytho'

In [5]:
"""Last character of the ‘str’"""
str[-1]

'e'

In [6]:
"""The reverse of ‘str’ i.e. 'esruoc nohtyP'"""
str[::-1]

'esruoc nohtyP'

In [10]:
"""very alternate character (1st, 3rd, 5th…..) of ‘str’"""
str[::2]

'Pto ore'

In [11]:
"""Every alternate character (2nd, 4th, 6th….) of ‘str’ from the 2nd character"""
str[1::2]

'yhncus'